/*
 *	<GLOBAL STYLES>
 */
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

* {
	box-sizing: border-box;
}
/*
 *	</GLOBAL STYLES>
 */

/*
 *	<INDEX STYLES>
 */
.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ticker {
	display: flex;
	flex-direction: row;
}
.ticker p {
	text-align: left;
}

main {
	padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;
}
/*
 *	</INDEX STYLES>
 */